{% extends "owner/base_generic.html" %}


{% block content %}

<h1> Bienvenidos </h1>
    {% comment %}{% if nombre %}
        <h2> Su pase esta vigente </h2>
    {% else %}
        <h2> Su pase esta vigente </h2>


    {% endif %}


    {% if edad > 18 %}
        <p>{{ nombre }} es mayor de edad y de nacionalidad {{ pais }} </p>

    {% else %}

        <p>{{ nombre }} es menor de edad y de nacionalidad {{ pais }} </p>

    {% endif %}
{% endcomment %}



{% comment %}
    {% for owner in data %}
        {{ owner.edad }}
        <li>
            <p><strong> Nombre de owner: </strong> {{ owner.nombre | upper }} </p>

        </li>
    {% endfor %}
{% endcomment %}

    <div>

    {% for owner in data %}

        <p><strong> Nombre y pais  </strong> {{ owner.nombre }}  es de {{ owner.pais }} </p>

    {% endfor %}


    </div>

<button type="button" class="btn btn-primary">Python</button>

{% endblock %}